*{
    font-family: "Georgia", "Garamond", "Times New Roman";
}

html{
    background: rgb(54,54,54);
    background: -moz-linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(241,239,239,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(241,239,239,1) 100%);
    background: linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(241,239,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#363636",endColorstr="#f1efef",GradientType=1);
    font-size: 20px;
    min-height: 100vh;
}

.centered-text{
    text-align: center;
    left: 50%;
}

h1, p{
    margin-top: 6vh;
}

h1{
    font-size: 2em;
}

p{
    font-size: 1.2em;
    margin-left: 15%;
    margin-right: 15%;
}
#menu-bar{
    margin-top: -5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cccccc;
}
#menu-bar li{
    float: left;
} 

#menu-bar li a{
    display: block;
    background-color: #cccccc;
    text-align: center;
    padding: 2vh 2vw;
    text-decoration: none;
    color: black;
}

#menu-bar li a:hover{
    background-color: #dedede;
}

.active{
    background-color: #ababab !important;
}

li:not(#menu-bar li){
    left: 25%;
    font-size: 1.2em;
    margin-left: 15%;
    margin-right: 15%;
}

li:not(#menu-bar li) a{
    text-decoration: underline blue;
    color: blue;
}


#profile-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (max-width: 630px){
    html{
        font-size: 15px !important;
    }
}

@media only screen and (pointer: none), (pointer: coarse){
    li a:active{
        background-color: #dedede;
    }
}
