*{
    font-family: "Georgia", "Garamond", "Times New Roman";
}

html{
    background: linear-gradient(0deg, rgba(120,120,120,1) 0%, rgba(255,255,255,1) 100%);
    font-size: 20px;
    min-height: 100vh;
}

.centered-text{
    text-align: center;
    left: 50%;
}

h1, p{
    margin-top: 6vh;
}

h1{
    font-size: 2em;
}

p{
    font-size: 1.2em;
    margin-left: 15%;
    margin-right: 15%;
}
#menu-bar{
    margin-top: -5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cccccc;
}
#menu-bar li{
    float: left;
} 

#menu-bar li a{
    display: block;
    background-color: #cccccc;
    text-align: center;
    padding: 2vh 2vw;
    text-decoration: none;
    color: black;
}

#menu-bar li a:hover{
    background-color: #dedede;
}

.active{
    background-color: #ababab !important;
}

li:not(#menu-bar li){
    left: 25%;
    font-size: 1.2em;
    margin-left: 15%;
    margin-right: 15%;
}

li:not(#menu-bar li) a{
    text-decoration: underline blue;
    color: blue;
}


#profile-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    height: 20em;
}

iframe{
    display: block;
    height: 75vh;
    width: 75vw;
    margin: 12.5vh 12.5vw;
    margin-top: 0;
    margin-bottom: 0;
    border: 3px solid black;
}


.example::-webkit-scrollbar {
    display: none;
}
.example {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

@media only screen and (max-width: 630px){
    html{
        font-size: 15px !important;
        background: rgb(140,140,140);
        background: linear-gradient(0deg, rgba(140,140,140,1) 0%, rgba(241,239,239,1) 100%);
    }
    #profile-image{
        width: 15em;
        height: 15em;
    }
}


@media only screen and (pointer: none), (pointer:coarse){
    li a:active{
        background-color: #dedede;
    }
    iframe{
        width: 130vw;
        height: 130vh;
        -webkit-transform: scale(.6);
        transform: scale(.6);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
